/* Channel */

list row#channel-row.unread {
    background-color: alpha(@theme_selected_bg_color, 0.2);
}

list row label#channel-name {
    font-size: large;
    font-weight: bold;
}

list row label#channel-subtitle {
    font-size: x-small;
}

list row label#channel-time {
    font-size: x-small;
}

/* Text Message */

list row label#text-sender {
    font-size: small;
    font-weight: bold;
}

list row label#text-time {
    font-size: x-small;
}

/* Date Header */

list row#date-header {
    background-color: @theme_bg_color;
}

list row label#date-text {
    font-size: large;
    font-weight: bold;
}

/* System Message */

list row#system-header {
    color: #ffffff;
    background-color: #6897a0;
}

list row label#system-category {
    font-size: large;
    font-weight: bold;
}

list row label#system-time {
    font-size: x-small;
}

